*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}


.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
}



.loading-bar.ended
{
    transform:  scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
}


.text
{
    position: absolute;
    margin: 1em;
    padding: 2em;
    width: 50%;
    /* white-space: nowrap;  */
    overflow: hidden; 
    /* position: fixed;
    width: 100vw;
    height: 100vh; */
}